<hello name="{{ name }}"></hello>
<p>
  

  Please find enlcosed update from CBA Consult towards the products and services committed to offer to clients:
  
  With a background in Finance and Human Resources Consultancy working in a wide area of sectors from broadcasting, Financial Services, Accounting, Security Industry, Shared Service Industry and Software and Application Developers.

  Experience in mainly Financial Accounting and Consulting, Human Resource Consulting, Payroll Processing, HRIS Technology, System Implementation and Integration, Sub Systems for Employee Self Service, Compensation and Benefits Plan and Time and Attendance.

  About me is about searching and trying to offer a wealth of added value in services and products and align them to be successful to current business processes. About me is the resources only when required or needed available to you when a clear end-user experience shows exceptional gains by contributing and placing these efforts.

  Professional services covering large amount of world class best practices within Project Managment (PMI standards), Human Resources (SOPs), Transactional Processing and solutions to ensure the success of our clients can be maintained.

  Understanding business requirements, procedures and have in-place main priority when we engage with work our clients. Summarized as and for this reason: The overall Success for Clients. Understand the Business Requirements is in line with the basic principals of clients end user experiences, products, services and origin. The products and services are elicited with this goal in mind “The Clients Success”.

  There is a large amount of ´best practices´ in a wide range of products and services which require specialized expertise to commit your resources effectively. All combined in the important metrics to work within “Passionate Performance is Accountable Measurable, and Results driven by clients human centric success” 
  
</p>


<div class='zift_plugin' id='8a99822c7197c53801719880a56a2c94'></div>
